<!DOCTYPE html>
<html>
<head>
  <title>RailsAngularImpact</title>
  <%= stylesheet_link_tag    'application', :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="mtImpact">

  <div layout="column" tabIndex="-1" role="main" flex>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <hello-world></hello-world>
        </h2>
      </div>
    </md-toolbar>

    <div layout-padding>
      <employees-location />
    </div>

  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
